---
import ScrollAnimation from './ScrollAnimation.tsx';
---

<section id="how-it-works" class="bg-white">
  <!-- Scroll Animation (React Island) -->
  <ScrollAnimation client:only="react" />
</section>
