:root {
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f2f4f5;
  --color-neutral-100: #dee2e3;
  --color-neutral-200: #c9ced0;
  --color-neutral-300: #b4bbbc;
  --color-neutral-400: #9fa7a9;
  --color-neutral-500: #8a9496;
  --color-neutral-600: #768183;
  --color-neutral-700: #5f6b6d;
  --color-neutral-1000: #111111;
  --color-neutral-800: #515b5d;
  --color-neutral-900: #40494b;
  --color-blue-50: #edf5ff;
  --color-blue-100: #cee3ff;
  --color-blue-200: #add1ff;
  --color-blue-300: #8dbdfa;
  --color-blue-400: #6ea8f3;
  --color-blue-500: #4e93ea;
  --color-blue-600: #257cde;
  --color-blue-700: #256cbf;
  --color-blue-800: #215a9d;
  --color-blue-900: #1c487d;
  --color-purple-50: #fef0f3;
  --color-purple-100: #f1dbe0;
  --color-purple-200: #e2c4cc;
  --color-purple-300: #d3aeb8;
  --color-purple-400: #c398a4;
  --color-purple-500: #b38290;
  --color-purple-600: #a26c7c;
  --color-purple-700: #8f5466;
  --color-purple-800: #7a4757;
  --color-purple-900: #633845;
  --color-red-50: #fff2f1;
  --color-red-100: #ffd9d5;
  --color-red-200: #ffbdb6;
  --color-red-300: #ff9d95;
  --color-red-400: #f77f78;
  --color-red-500: #ed605b;
  --color-red-600: #e23d3f;
  --color-red-700: #bf3536;
  --color-red-800: #9f2e2e;
  --color-red-900: #7f2726;
  --color-yellow-50: #fff7db;
  --color-yellow-100: #ffe47e;
  --color-yellow-200: #efd051;
  --color-yellow-300: #e2be02;
  --color-yellow-400: #c7a817;
  --color-yellow-500: #af9423;
  --color-yellow-600: #978128;
  --color-yellow-700: #806e2a;
  --color-yellow-800: #695c2a;
  --color-yellow-900: #534a28;
  --color-green-50: #d4ffdb;
  --color-green-100: #aaf4b9;
  --color-green-200: #88e39c;
  --color-green-300: #61d27f;
  --color-green-400: #26bb5d;
  --color-green-500: #33a959;
  --color-green-600: #359250;
  --color-green-700: #347c48;
  --color-green-800: #32663f;
  --color-green-900: #2e5035;
  --color-lime-50: #e0ffb6;
  --color-lime-100: #b1f01a;
  --color-lime-200: #a2da27;
  --color-lime-300: #91c229;
  --color-lime-400: #7faa29;
  --color-lime-500: #6e9328;
  --color-lime-600: #5e7c27;
  --color-lime-700: #4e6624;
  --color-lime-800: #3f5120;
  --color-lime-900: #303d1c;
  --color-indigo-50: #f6f0ff;
  --color-indigo-100: #e9d8ff;
  --color-indigo-200: #d9c0f9;
  --color-indigo-300: #c9a7f1;
  --color-indigo-400: #b98ee8;
  --color-indigo-500: #a572db;
  --color-indigo-600: #9167be;
  --color-indigo-700: #7a5a9e;
  --color-indigo-800: #644d7f;
  --color-indigo-900: #4f4061;
  --color-teal-50: #e4f9f2;
  --color-teal-100: #c4ebdf;
  --color-teal-200: #a1dbca;
  --color-teal-300: #7dcbb6;
  --color-teal-400: #54baa1;
  --color-teal-500: #02a68a;
  --color-teal-600: #23927b;
  --color-teal-700: #2b7b69;
  --color-teal-800: #2e6557;
  --color-teal-900: #2d5046;
  --color-orange-50: #fff0e7;
  --color-orange-100: #ffd8be;
  --color-orange-950: #443227;
  --color-orange-300: #efa674;
  --color-orange-400: #e48c4b;
  --color-orange-500: #d66f03;
  --color-orange-600: #b9651e;
  --color-orange-700: #9b5825;
  --color-orange-800: #7d4c28;
  --color-orange-900: #603f29;
  --color-amber-50: #fff8f7;
  --color-amber-100: #ffd8d2;
  --color-amber-200: #f7bbb1;
  --color-amber-300: #ec9d92;
  --color-amber-400: #e07f72;
  --color-amber-500: #d36053;
  --color-amber-600: #c53e33;
  --color-amber-700: #ba0d0d;
  --color-amber-800: #910004;
  --color-amber-900: #6e0102;
  --color-cyan-50: #e8f7fa;
  --color-cyan-100: #cfe6eb;
  --color-cyan-200: #b4d4da;
  --color-cyan-300: #99c2c9;
  --color-cyan-400: #7eafb8;
  --color-cyan-500: #629da7;
  --color-cyan-600: #448a97;
  --color-cyan-700: #1c7583;
  --color-cyan-800: #186470;
  --color-cyan-900: #10505a;
  --color-pink-50: #ffeef5;
  --color-pink-100: #ffd2e6;
  --color-pink-200: #f7b7d4;
  --color-pink-300: #ee9cc3;
  --color-pink-400: #e380b1;
  --color-pink-500: #d3609c;
  --color-pink-600: #b75989;
  --color-pink-700: #994f74;
  --color-pink-800: #7c4560;
  --color-pink-900: #5f3b4c;
  --color-cyan-950: #083e46;
  --dimension-0: 0px;
  --dimension-25: 2px;
  --dimension-50: 4px;
  --dimension-100: 8px;
  --dimension-75: 6px;
  --dimension-300: 24px;
  --dimension-250: 20px;
  --dimension-200: 16px;
  --dimension-150: 12px;
  --dimension-600: 48px;
  --dimension-500: 40px;
  --dimension-400: 32px;
  --dimension-800: 64px;
  --dimension-1000: 80px;
  --dimension-max: 999px;
  --color-purple-950: #4d2a35;
  --color-neutral-950: #313839;
  --color-red-950: #60201e;
  --color-orange-200: #f8bf99;
  --color-yellow-950: #3e3925;
  --color-green-950: #293b2c;
  --color-teal-950: #293b36;
  --color-blue-950: #17375f;
  --color-indigo-950: #3a3344;
  --color-pink-950: #443039;
  --font-size-150: 12px;
  --font-size-175: 14px;
  --font-size-200: 16px;
  --font-size-225: 18px;
  --font-size-300: 24px;
  --font-size-400: 32px;
  --font-size-500: 40px;
  --font-size-600: 48px;
  --font-size-800: 64px;
  --font-size-125: 10px;
  --font-size-100: 8px;
  --font-size-350: 28px;
  --font-family-primary: "Plus Jakarta Sans";
  --font-family-secondary: "Plus Jakarta Sans";
  --font-weight-400: "Regular";
  --font-weight-500: "Semibold";
  --font-weight-300: "Light";
  --font-weight-600: "Bold";
  --font-size-250: 20px;

  --spacing-xs: var(--dimension-50);
  --spacing-sm: var(--dimension-100);
  --spacing-lg: var(--dimension-200);
  --spacing-md: var(--dimension-150);
  --spacing-2xl: var(--dimension-400);
  --spacing-xl: var(--dimension-300);
  --spacing-3xl: var(--dimension-500);
  --spacing-4xl: var(--dimension-600);
  --spacing-5xl: var(--dimension-800);
  --spacing-6xl: var(--dimension-1000);
  --radius-container: var(--dimension-200);
  --radius-action: var(--dimension-max);
  --radius-field: var(--dimension-max);
  --radius-subcontainer: var(--dimension-max);
  --color-background-primary: var(--color-cyan-700);
  --color-background-accent: var(--color-purple-700);
  --color-background-success: var(--color-green-600);
  --color-background-info: var(--color-pink-500);
  --color-background-warning: var(--color-yellow-200);
  --color-background-critical: var(--color-red-600);
  --color-background-highContrast: var(--color-neutral-100);
  --color-background-primarySubtle: var(--color-cyan-50);
  --color-background-successSubtle: var(--color-green-50);
  --color-background-infoSubtle: var(--color-pink-50);
  --color-background-warningSubtle: var(--color-yellow-50);
  --color-background-criticalSubtle: var(--color-red-50);
  --color-background-accentSubtle: var(--color-purple-50);
  --color-background-base: var(--color-neutral-0);
  --color-background-raised: var(--color-neutral-0);
  --color-background-overlay: var(--color-neutral-0);
  --color-background-sunken: var(--color-neutral-50);
  --color-foreground-primary: var(--color-cyan-700);
  --color-foreground-onPrimary: var(--color-neutral-0);
  --color-foreground-accent: var(--color-purple-700);
  --color-foreground-onAccent: var(--color-neutral-0);
  --color-foreground-success: var(--color-green-600);
  --color-foreground-onSuccess: var(--color-neutral-0);
  --color-foreground-info: var(--color-pink-600);
  --color-foreground-onInfo: var(--color-neutral-0);
  --color-foreground-warning: var(--color-yellow-500);
  --color-foreground-onWarning: var(--color-neutral-0);
  --color-foreground-critical: var(--color-red-600);
  --color-foreground-onCritical: var(--color-neutral-0);
  --color-foreground-onBase: var(--color-neutral-1000);
  --color-foreground-onRaised: var(--color-neutral-1000);
  --color-foreground-onOverlay: var(--color-neutral-1000);
  --color-foreground-onSunken: var(--color-neutral-1000);
  --color-foreground-onHighContrast: var(--color-neutral-1000);
  --color-foreground-onBaseMuted: var(--color-neutral-700);
  --color-foreground-onRaisedMuted: var(--color-neutral-700);
  --color-foreground-onOverlayMuted: var(--color-neutral-700);
  --color-foreground-onSunkenMuted: var(--color-neutral-700);
  --color-border-primary: var(--color-cyan-700);
  --color-border-accent: var(--color-purple-700);
  --color-border-success: var(--color-green-600);
  --color-border-info: var(--color-pink-600);
  --color-border-warning: var(--color-yellow-200);
  --color-border-critical: var(--color-red-600);
  --color-border-neutral: var(--color-neutral-100);
  --color-border-strong: var(--color-neutral-200);
  --color-border-focus: var(--color-blue-600);
  --color-foreground-onHighContrastMuted: var(--color-neutral-700);
  --font-container: var(--dimension-200);
  --font-action: var(--dimension-max);
  --font-field: var(--dimension-max);
  --font-wrapper: var(--dimension-max);
  --font-body-family: var(--font-family-primary);
  --font-body-xs-size: var(--font-size-150);
  --font-body-xs-medium-weight: var(--font-weight-500);
  --font-body-xs-bold-weight: var(--font-weight-600);
  --font-body-sm-size: var(--font-size-175);
  --font-body-sm-medium-weight: var(--font-weight-500);
  --font-body-sm-bold-weight: var(--font-weight-600);
  --font-body-sm-regular-weight: var(--font-weight-400);
  --font-body-md-size: var(--font-size-200);
  --font-body-md-regular-weight: var(--font-weight-400);
  --font-body-md-medium-weight: var(--font-weight-500);
  --font-body-md-bold-weight: var(--font-weight-600);
  --font-body-lg-size: var(--font-size-225);
  --font-body-lg-regular-weight: var(--font-weight-400);
  --font-body-lg-medium-weight: var(--font-weight-500);
  --font-body-lg-bold-weight: var(--font-weight-600);
  --font-heading-family: var(--font-family-secondary);
  --font-heading-xs-size: var(--font-size-200);
  --font-action-family: var(--font-family-primary);
  --font-action-sm-size: var(--font-size-175);
  --font-action-md-size: var(--font-size-200);
  --font-action-lg-size: var(--font-size-225);
  --font-body-2xs-size: var(--font-size-125);
  --font-body-2xs-medium-weight: var(--font-weight-500);
  --font-body-2xs-bold-weight: var(--font-weight-600);
  --font-heading-sm-size: var(--font-size-225);
  --font-heading-md-size: var(--font-size-300);
  --font-heading-lg-size: var(--font-size-350);
  --font-heading-xl-size: var(--font-size-400);
  --font-heading-2xl-size: var(--font-size-500);
  --font-heading-3xl-size: var(--font-size-600);
  --font-heading-4xl-size: var(--font-size-800);
  --font-field-family: var(--font-family-primary);
  --font-field-sm-size: var(--font-size-175);
  --font-field-md-size: var(--font-size-200);
  --font-field-lg-size: var(--font-size-225);
  --font-action-weight: var(--font-weight-500);
  --font-field-weight: var(--font-weight-400);
  --font-heading-weight: var(--font-weight-500);
  --radius-badge: var(--dimension-100);
  --color-foreground-onPrimarySubtle: var(--color-cyan-800);
  --color-foreground-onAccentSubtle: var(--color-purple-800);
  --color-foreground-onSuccessSubtle: var(--color-green-800);
  --color-foreground-onInfoSubtle: var(--color-pink-800);
  --color-foreground-onWarningSubtle: var(--color-yellow-800);
  --color-foreground-onCriticalSubtle: var(--color-red-800);
}