---
import GeneratorLayout from '../layouts/GeneratorLayout.astro';
import Configurator from '../components/Configurator/index.tsx';
---

<GeneratorLayout title="Generate | Trellis">
  <main class="h-full" data-lenis-prevent="true">
    <Configurator client:load />
  </main>
</GeneratorLayout>
