---
import MarketingLayout from '../layouts/MarketingLayout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import ScrollAnimationSection from '../components/ScrollAnimationSection.astro';
import Comparison from '../components/Comparison.astro';
import Pipeline from '../components/Pipeline.astro';
import Backstory from '../components/Backstory.astro';
import FAQ from '../components/FAQ.astro';
---

<MarketingLayout>
  <main>
    <Hero />
    <ScrollAnimationSection />
    <Pipeline />
    <Backstory />
    <Comparison />
    <FAQ />
  </main>
  <Footer />
</MarketingLayout>
